<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Gratitude</h1> <!--Heading of the page-->

    {% for gratitude in gratitudes %}
        <li>{{ gratitude }}</li>
    {% endfor %}

    <form method="POST">
        {{ template_form.hidden_tag() }}
        <p>
            {{ template_form.gratitude.label }}
            {{ template_form.gratitude() }}
        </p>
        <p>{{ template_form.submit() }}</p>
    </form>

</body>
</html>